#container{
    background-image: url(/starter-code/assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#menu li:nth-child(1){ 
    border-bottom: 3px solid white;
}
h4, h1, p{
    color: white;
}
#content{
    padding-top: 200px;
    padding-bottom: 143px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
#info{
    width: 30%;
    padding-left: 145px;
}
#info h4 {
    font-size: 27px;
    font-weight: 100;
    padding-bottom: 35px;
}
#info h1{
    font-size: 122px;
    font-weight: 400;
    padding-bottom: 30px;
}
#info p{
    line-height: 1.5;
    font-size: 16px;
    opacity: 0.7;
    
}
#boton{
    padding-top: 120px;
    width:30%;
}
#boton button{
    width: 200px;
    height: 200px;
    font-size: 30px;
    font-weight: 200;
    border-radius: 100%;
    border: none;
}
#boton button:hover{
    background-color: hsla(0, 26%, 82%, 0.2);
    color: white;
    font-family:cursive;
}
@media (max-width: 380px){
    #container{
        background-image: url(/assets/home/background-home-mobile.jpg);
    }
    #content{
        margin: 0 30px;
        padding-top: 25px;
        padding-bottom: 29px;
        flex-direction: column;
        align-items: center;
    }
    #info{
        width: 100%;
        padding-left: 0px;
    }
    #info h4 {
        font-size: 20px;
        font-weight: 100;
        padding-bottom: 20px;
    }
    #info h1{
        font-size: 90px;
        font-weight: 400;
        padding-bottom: 20px;
    }
    #info p{
        line-height: 1.5;
        font-size: 14px;
        opacity: 0.7;
        
    }
    #boton{
        padding-top: 80px;
        width:50%;
    }
    #boton button{
        width: 160px;
        height: 160px;
        font-size: 23px;
        font-weight: 200;
        border-radius: 100%;
        border: none;
    }
}
