#menu li:nth-child(2){ 
    border-bottom: 3px solid white;
}

#menu-planetas li:nth-child(2){
    border-bottom: 3px solid white;

}
#container{
    background-image: url(/starter-code/assets/destination/background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#content{
    display: flex;
    justify-content: space-between;
    padding-left: 143px;
    padding-right: 233px;
}
@media (max-width: 380px){
    #container{
        background-image: url(/starter-code/assets/destination/background-destination-mobile.jpg);
    }
    #content{
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
    }
}